.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
}
.module {
  width: 100%;
  /* height: 50vh; */
  /* height: 100%; */
}
.module *{
  z-index: 3;
}
