.container {
  display: grid;
  grid-template-areas:
    'toolbar toolbar'
    'markdown editor'
    'result result';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;

  height: 100%;
  width: 100%;
}
.editor,
.markdown,
.toolbar,
.result {
  width: 100%;
}

.markdown {
  padding: 0.5rem;
  grid-area: markdown;
}
.editor {
  grid-area: editor;
}
.toolbar {
  grid-area: toolbar;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
}
.toolbarTool {
  margin: 0 0.5rem;
}

.result {
  grid-area: result;
}
